@import './reset.css'

.App
  width: 100vw
  min-height: 100vh

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  overflow: visible


.formHeader
  color: #1769aa

.form
  width: 600px

  border: 2px solid #2196f3
  border-radius: 5px

  margin: 20px auto
  padding: 10px 20px


.dateSelect
  width: 100%

.timeSelect
  width: 50%

.comment
  width: 100%

.error
  color: red

  display: flex


  &__time
    width: 50%